<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>156700296828-t9nmkmcq03j7jf2f7pv62nl2kntakf8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156700296828-t9nmkmcq03j7jf2f7pv62nl2kntakf8t</string>
	<key>API_KEY</key>
	<string>AIzaSyBg9nAx0ScYgn6Dw7wyYc8SbGRf1PFz2s4</string>
	<key>GCM_SENDER_ID</key>
	<string>156700296828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bekzodrakhmatov.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-28618</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-28618.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156700296828:ios:97baeb6b58528dc9</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-clone-28618.firebaseio.com</string>
</dict>
</plist>